@charset "utf-8";
/* CSS Document */

.header{
			font-family: megavolt;
			text-align: center;
			color: white;
			background-color: black;
			padding: 10px;
			height: 100px;
		}
		
		.sellsheader{
			font-family: good-times;
			text-align: center;
			color: white;
			background-color: #0D170E;
			padding: 10px;
			height: 35px;
		}
		
		.sellsheader h2{
			margin-top: 5px;
		}
		
		.sellsmain{
			font-family: arial;
			text-align: center;
			color: white;
			background-color: #40B449;
			padding: 30px;
			height: 130px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		
		}
		
		@media screen and (max-width: 300px){
			header{
				width: 300px;
			}
			
		}
		
		@media screen and (max-width: 300px){
			sellsheader{
				width: 300px;
			}
			
		}
		
		.block{
			margin: 0 auto;
			width: 1000px;
		}
		
		.latestholder{
			display: flex;		
			
			
		}
		
		.latestheader{
			background-color: black;
			padding: 10px;
			height: 30px;
			width: 50%;
			color: white;
			font-family: arial;
			text-align: center;
		
			
		}
			
			
		.content-holder{
			display: flex;
			
		}
		
		.sectionnav{
			background-color: black;
			padding: 10px;
			border-radius: 10px;
			height: 150px;
			width: 170px;
			margin: 35px;
			margin-top: -20px
			
		}
		
		.productcontent{
			font-family: good-times;
			background-color: black;
			padding: 10px;
			border-radius: 10px;
			height: 155px;
			width: 120px;
			margin: 35px;
			margin-top: -25px;
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
			
			
		}
		.productcontent img{
			border-radius: 10px;
			width: 130px;
			height: 110px;
		}
		
		.navbar{
			font-family: good-times;
			font-size: 19px;
			color: white;
			margin: 10px;
			margin-top: -7px;
		
		}
		
		.navbarholder{
			display:flex;
			justify-content: center;
			background-color:black;
			padding: 5px;
			height:25px;
		}
		.navbar a{
			margin: 20px;
		}
		.navbar a> active{
			color:white;
		}
			
		.productcontent h3{
			margin-top: -1px;
			font-size:13px;
		}

		.Registration-box{
				background-color: black;
			padding: 10px;
			border-radius: 10px;
			height: 680px;
			width: 620px;
			margin: 35px;
			margin-top: -5px;	
			justify-content: center;
				
		}

		.LessonPlans{
			background-color: black;
			padding: 10px;
			border-radius: 10px;
			height: 350px;
			width: 250px;
			margin: 10px;
			text-align:	center;
		}	

		.blogbox{
			background-color: black;
			padding: 10px;
			width: 350px;
			height: 250px;
			margin-top: 20px;
			border-radius: 10px;
		}	

		.productcontent a{
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
			
		}

		.sectionnav a{
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
		}

		.sectionnav img{
			border-radius: 10px;
			height: 150px;
			width: 170px;
			margin: 0 auto;
			
		}


		.purchasedisplay{
			background-color: black;
			padding: 10px;
			width: 250px;
			height: 250px;
			border-radius: 10px; 
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
			margin: 7px;
			margin-top: -10px;
		}

		.purchasedisplay img{
			width: 250px;
			height: 250px;
			border-radius: 10px;
			margin: 0 auto;
		}
	
		.latestbox{
			background-color: black;
			padding: 10px;
			width: 250px;
			height: 250px;
			border-radius: 10px; 
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
			margin: 25px;
			margin-top: -10px;
		}

		.latestbox img{
			width: 250px;
			height: 250px;
			border-radius: 10px;
			margin: 0 auto;
		}

		.latestbox a{
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
		}		
		
		.underblog{
			background-color: black;	
			padding: 10px;
			border-radius: 10px;
			height: 150px;
			width: 170px;
			margin: 35px;
			margin-top: -20px;
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
	
		}

		.underblog a{
			display: flex;	
			justify-content: center;
			flex-wrap: wrap;
		}
		
		.underblog img{
			border-radius: 10px;
			height: 150px;
			width: 170px;
			margin: 0 auto;			
	
		}


		.blogbox img{
			width: 350px;
			height: 250px;
			border-radius: 10px;
			margin: 0 auto;
		}
		
		.blog a{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}


		.footer{
			font-family: good-times;
			text-align: center;
			color: white;
			background-color: black;
			padding: 10px;
			height: 180px;
		}

		.registration-box label{
			font-family: good-times;
	
		}












